<div class="row">
  <div class="col-md-12">
    <h2>Posts</h2>
    <table class="table" *ngIf="posts.length">
      <thead>
        <tr>
         <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Category Name</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let post of posts; let i = index">
          <tr [id]="i">
             <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.description}}</td>
            <td>{{ post.categoryTitle }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

